*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}

.container{
    overflow: hidden;
}

.cursor{
    height: 2.5vw;
    width: 2.5vw;
    border: 1px solid rgba(255, 255, 255, 0.756);
    background-color: transparent;
    border-radius: 50%;
    z-index: 990;
    position: absolute;
    top: 0;
    mix-blend-mode: difference;
}
.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 20vh;
}
.loader .line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.loader .line .number{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2vw;
}
.loader .line .number h5{
    font-size: 4.5vw;
    font-weight: 200;
    font-family: 'silk serif';
}
.loader .line .number h6{
    font-size: 4.5vw;
    font-weight: 200;
    font-family: 'silk serif';
    width: 6vw;
    text-align: right;
}
.loader  .line1{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 4vw;
}
.loader .line h1{
    font-size: 6.5vw;
    font-weight: 900;
    font-family: "Plain Light";
}
.loader .line2{
    display: flex;
    justify-content:center;
    align-items:start ;
    flex-direction: column;
    margin-top: 3vw;
}
.loader .line2 h5{
    font-family: "Plain Light";
    font-size: 1.3vw;
}
.loader .line3{
    display: flex;
    gap: 2vw;
}
.loader .line3 h2{
    font-size: 5vw;
    font-weight: 900;
    font-family: "Plain Light";
    animation: anime 1.5s infinite ;
    animation-delay: 2s;
}
@keyframes anime {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke:1px #fff ;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
47%{
    font-family: "Plain Light";
        -webkit-text-stroke:1px #fff ;
        color: #fff;
        font-weight: 500;
        opacity: 0;
}
    50%{
        font-family: 'silk serif';
        webkit-text-stroke:1px #fff ;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: 'silk serif';
        webkit-text-stroke:1px #fff ;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

/* page 1 starting */

.container{
    position: relative;
    background-color: #111;
}
.page1{
    width: 100%;
    height: 100vh;
    background-color: #151515;
}
nav{
    padding: 3.8vw 6.5vw;
    display: flex;
    justify-content: space-between;
}
nav .nav-part-1{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

nav .nav-part-1 h2{
    font-family:"Plain Light";
    font-size: 1.1vw;
    font-weight: 500;
}

nav .nav-part-2{
    display: flex;
    justify-content: center;
    gap: 3vw;
}
.nav-part-2 h2{
    font-family:"Plain Light";
    font-size: 1.1vw;
    font-weight: 500;
    cursor: pointer;
}
.page1-main{
    width: 72%;
    margin-left: 28%;
    position: relative;
    overflow: hidden;
    z-index: 999;
}
.page1-main .hero h1{
    font-size: 8vw;
    font-weight: 600;
    font-family: "Plain Light";
    line-height: 8vw;
}
page1-main #villan3 .h1{
    display: flex;
    flex-direction: row;
}
.page1-main #villan3 .h1 h3{
    font-size: 8vw;
    font-weight: 600;
    font-family: "Plain Light";
    line-height: 7.4vw;
    border-bottom: 0.8vw solid #fff;
    transition: all ease 0.3s;
}

.page1-main #villan3 .h1 h3:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 400;
    border: none;
}
#villan3{
    height: 8vw;
}

.page1-main:nth-child(2){
    margin-top: 3vh;
}


.page2{
    width: 100%;
    padding-top: 3vw;
    min-height: 100vh;
    background-color: #151515;
}


.page2 .video{
    height: 40vw;
    width: 71vw;
    position: relative;
    left: 28%;
    top :10%;
    background-image: url(Showreel-2022-preview-1.jpg);
    z-index: 997;
    transition: all ease 0.3s;
    
}
.page2 .video .vedio-cursor{
    height: 10vw;
    width: 10vw;
    position: absolute;
    border-radius: 50%;
    background-color: #ffa62a;
    top: -13%;
    left: 75%;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page2 .video .vedio-cursor i{
    font-size: 3vw;
}

.page2 .video video{
height: 100%;
width: 100%;
object-fit: cover;

}

.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;

}

.page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-top: 5vh;
}

.page4 .page4-main{
    width: 65vw;
    margin-left: 28%;
    position: relative;
}

.page4 .page4-main h1{
    font-family: "Plain Light";
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
}
.u-line{
    height: 1px;
    width: 65vw;
    background-color: #fff;
    margin: 2.5vw 0 4vw 0;
}

.page4 .page4-main > p{
    font-family: "Plain Light";
    font-size: 2.2vw;
    font-weight: 400;
    width: 55%;
    margin-bottom :5vw; 
}

.page4 .page4-main .page4flex{
    display: flex;  
    justify-content: space-between;
    align-items:flex-start; 
}

.page4 .page4-main .page4flex img{
    width: 50%;
}
.page4 .page4-main .page4flex > p{
    font-family: "Plain Light";
    font-size: 1.1vw;
    margin-right: 4vw;
    font-weight: 400;
    width: 40%;
    
}

.page4 .page4-main .page4blu{
    background-color:#3f7df4 ;
    padding: 3vw;
    width: 40vw;
    position:relative;
    margin-top: -10vw;
    margin-left: 21vw;
}

.page4 .page4-main .page4blu .white-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw 0;
    border-bottom: 1px solid white;
}

.page4 .page4-main .page4blu .white-elem >p{
    width: 60% ;
    font-family: "Plain Light";
    font-size: 1.1vw;

}
.page4 .page4-main .page4blu .white-elem >h4{
    width: 40% ;
    font-family: "Plain Light";
    font-size: 1.4vw;
    font-weight :600;
}