*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}
.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 20vh;
}
.loader .line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.loader .line .number{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2vw;
}
.loader .line .number h5{
    font-size: 4.5vw;
    font-weight: 200;
    font-family: 'silk serif';
}
.loader .line .number h6{
    font-size: 4.5vw;
    font-weight: 200;
    font-family: 'silk serif';
    width: 6vw;
    text-align: right;
}
.loader  .line1{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 4vw;
}
.loader .line h1{
    font-size: 6.5vw;
    font-weight: 900;
    font-family: "Plain Light";
}
.loader .line2{
    display: flex;
    justify-content:center;
    align-items:start ;
    flex-direction: column;
    margin-top: 3vw;
}
.loader .line2 h5{
    font-family: "Plain Light";
    font-size: 1.3vw;
}
.loader .line3{
    display: flex;
    gap: 2vw;
}
.loader .line3 h2{
    font-size: 5vw;
    font-weight: 900;
    font-family: "Plain Light";
    animation: anime 1.5s infinite ;
    animation-delay: 2s;
}
@keyframes anime {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke:1px #fff ;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
47%{
    font-family: "Plain Light";
        -webkit-text-stroke:1px #fff ;
        color: #fff;
        font-weight: 500;
        opacity: 0;
}
    50%{
        font-family: 'silk serif';
        webkit-text-stroke:1px #fff ;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: 'silk serif';
        webkit-text-stroke:1px #fff ;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

.container{
    position: relative;
    background-color: #111;
}
.page1{
    width: 100%;
    height: 100vh;
    background-color: #151515;
}
